
#popup
{
    text-align:center !important;
    width:400px;
    height:50px;
    position:absolute;
    top:50%;
    left:50%;
    margin:-15px 0 0 -200px;
    display:none;
    font-weight:800;
    position:fixed;
    border:1px solid #cccccc;
    background-color: #ffd381;
    padding-top: 20px;
}
.main{
    margin-left:5%;
    margin-right:5%;
    width:auto;
    min-height:750px;
    padding:3%;
    background-color: antiquewhite;
}
.article h1{
    text-align: center;
    font-size: 35px;
}
.article p{
    padding-right: 3%;
    font-size: 24px;
}
.article h1{
    text-align: center;
    font-size: 35px;
}
button { width: 20%; margin: 0 0 12px; padding: 2px 0; border: none; background-color: #ffd381; font: 30px 'Open Sans', sans-serif; font-weight: 400; text-align: center; color: #fff; cursor: pointer; }
.addcomment{
    min-height: 20%;
    margin-top:6%;
    margin-bottom:6%;
    margin-left: 20%;
    margin-right: 20%;
    padding:20px;
    width:auto;
}
.addcomment  a { display: inline-block; float: right; margin-top: 8px; padding: 0 16px; background-color: #ffd285; font-size: 24px; text-decoration: none; color: #fff; }
.addcomment { background-color: #c13c5d; text-align: left; color: #fff; }
.addcomment form { width: 600px; margin: 0 auto;}
.addcomment input.txt {  margin: 0 0 12px; padding: 8px 12px; box-sizing: border-box; border: none; background-color: #fff; font: 18px 'Open Sans', sans-serif; font-weight: 400; color: #505050; }
.addcomment input.btn { width: 60%; margin: 0 0 12px; padding: 2px 0; border: none; background-color: #ffd381; font: 30px 'Open Sans', sans-serif; font-weight: 400; text-align: center; color: #fff; cursor: pointer; }
.addcomment textarea.txt { width: 100%; margin: 0 0 12px; padding: 8px 12px; box-sizing: border-box; border: none; background-color: #fff; font: 18px 'Open Sans', sans-serif; font-weight: 400; color: #505050; resize: none; }
.addcomment h2{float:right; font-size: 26px; margin-right: 10%;}
.comments{
    margin-left: 10%;
    margin-right: 30%;
    padding:20px;
    width:auto;
}
.comments .comment{
    background-color: azure;
    padding:10px;
    margin:5px;
}
.comments .comment h2{
    margin-left: 10px;
}
